
@import url('./Views/css/Global/global.css');


.container {
    margin:           0 auto;
    width:            100%;
    max-width:        1200px;
    height:           auto;
    min-height:       100vh;
    background-color: var(--default);

    display:          flex;
    flex-direction:   column;
    justify-content:  space-between;
}

header {
    width:            100%;
    padding:          22px 12px;
    text-align:       center;
    border-bottom:    2px solid white;
}

h1 { font-weight: 400; }

main {
    width:            100%;

    display:          flex;
    justify-content:  center;
    align-items:      center;
}

footer {
    border-top:       2px solid white;
    padding:          19px;
}
